#!/bin/bash

docker run --name atlantis -d -p 4141:4141   -e ATLANTIS_GH_USER=${github-bot-user}   -e ATLANTIS_GH_TOKEN=${your-github-token}   -e ATLANTIS_GH_WEBHOOK_SECRET=${webhook-secret}   -e ATLANTIS_REPO_ALLOWLIST=${github-repo}   ghcr.io/runatlantis/atlantis